* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: studioText;
  src: url("./asset/Bricks-Regular.ttf");
}
@font-face {
  font-family: rouveFont;
  src: url("./asset/Akzidenz\ Grotesk\ Roman\ Bold.ttf");
}

.grid {
  position: relative;
  width: 100%;
}

.grid-item {
  position: relative;
  height: auto;
}
img {
  height: 100%;
  max-width: 100%;
  position: relative;
  transition: all 2s ease;
}

/* Studio_text_container */
.studio_name_container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.studio_text_container {
  font-family: studioText;
  position: fixed;
  width: max-content;
  text-align: center;
  color: white;
  font-size: 3rem;
  transition: all 0.9s !important;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 1rem;
  cursor: pointer;
  justify-content: center;
  text-transform: uppercase;
  /* position: absolute; */
  z-index: 1 !important;
}

.photographer__Name {
  border-bottom: 1px solid white;
  padding: 0.5rem;
  margin: 1rem;
}

.photo__style {
  padding: 0.5rem 0;
  font-size: 2rem;
}

.studio_text_container:hover {
  backdrop-filter: contrast(70%) sepia(0%);
  /* background-color: #0000009c; */
}

/* menu Container */
.hidden__menu {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: showMenu;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  background-color: #000000;
  transition: all 2.1s;
  backdrop-filter: blur(0.9em);
  opacity: 0.7;
  display: none;
  position: fixed;
}

@keyframes showMenu {
  0% {
    height: 0;
    width: 0;
  }
  100% {
    height: 100vh;
    width: 100%;
  }
}

.top_menu {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.photo_menu_style {
  height: max-content;
  width: 80%;
  font-size: 2rem;
  display: flex;
  width: max-content;
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
}
.material-symbols-outlined {
  transform: translateY(-5%);
  font-size: 2rem !important;
}

.showingMenu {
  animation-name: showingMenu;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-play-state: paused;
  transition: all 1s;
}

@keyframes showmingMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.studio_menu_container {
  font-family: studioText;
  position: fixed;
  width: max-content;
  text-align: center;
  font-size: 3rem;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  place-items: center;
  cursor: pointer;
  border-radius: 1rem;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  overflow: hidden;
  /* margin-bottom: 2rem; */
}

.studio_menu_container:hover {
  backdrop-filter: contrast(60%);
  cursor: default;
}

.cross {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 3rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
  border: 1.5px solid white;
  transition: all 0.5s;
}

.cross:hover {
  background-color: white;
  color: black;
}

.bottom_menu {
  height: 60%;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  color: rgb(255, 255, 255);
  font-family: rouveFont;
  margin-top: 3rem;
}

.column,
.rows {
  width: max-content;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: large;
}

.column {
  opacity: 0;
  transition: all 2s;
}

.columnTitle {
  text-transform: uppercase;
  padding: 1rem 0;
  border-bottom: 1px solid grey;
}

.rows {
  /* font-weight: 100; */
  font-weight: inherit;
  height: auto;
  width: max-content;
  position: relative;
  color: rgb(255, 255, 255) !important;
}

.rows span {
  width: max-content;
  cursor: pointer;
  color: inherit;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 100 !important;
}

.rows span:hover {
  color: rgb(214, 204, 204);
}

.rows span::before {
  content: "•";
  content: icon;
  position: absolute;
  transform: translateX(-1.5rem);
  display: none;
}

.rows span:hover::before {
  display: block;
}

.studio_menu_container {
  animation-name: adminShow;
  animation-iteration-count: 1;
  animation-duration: 1s;
  position: relative;
}

.rotate {
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 2s, opacity 0.8s;
}

.rotateReverse {
  height: max-content;
  width: 100%;
  position: absolute;
  transition: all 2s, opacity 0.8s;
  transform: translate(-50%, -50%);
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  z-index: -1;
  opacity: 0;
}

.studio_menu_container:hover .rotateReverse {
  transform: rotateY(360deg);
  transform-origin: top;
  opacity: 1;
}

.passcode {
  height: max-content;
  width: 100%;
  transition: all 0.8s;
}

.passcode span {
  height: max-content;
  width: max-content;
  text-align: center;
  /* background-color: rebeccapurple; */
  /* font-size: 2rem !important; */
}

.passcode span:hover {
  cursor: pointer;
  color: red;
  transform: scale(1.5);
}

.studio_menu_container:hover .rotate {
  transform-origin: top;
  opacity: 0;
  backface-visibility: visible;
  z-index: -1;
  transform: rotateY(180deg);
}

/* .column {
  display: none;
} */

.passcodeForm {
  height: 40rem;
  width: 100%;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  display: none;
  transition: all 1s;
}

.passcodeForm__Top {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.passcode_label {
  font-size: 1.4rem;
  text-align: center;
}

.passcodeForm__Bottom {
  height: 80%;
  width: 30%;
}
.codeFilled {
  height: inherit;
  width: max-content;
  display: flex;
  gap: 1.5rem;
}
.code {
  height: 2.5rem;
  width: 2.5rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}

.numbers {
  height: max-content;
  width: 24.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.number {
  height: 7.5rem;
  width: 7.5rem;
  border-radius: 50%;
  border: 1px solid white;
  display: grid;
  font-size: 2rem;
  transition: all 1s;
  place-content: center;
}

.number0 {
  height: 7.5rem;
  width: 7.5rem;
  border: 1px solid white;
  grid-row-start: 4;
  grid-column-end: 3;
}

.number11 {
  grid-row-start: 4;
  grid-column-end: 4;
}

.number11 {
  transition: all 0.5s;
}

.number:hover {
  cursor: pointer;
  background-color: rgb(239, 234, 234);
  color: black;
}

/* media query */
@media (max-width: 322px) {
  .photographer__Name,
  .photo__style,
  .photo_menu_style {
    font-size: 1.4rem !important;
  }
  .cross {
    font-size: 1.8rem;
    padding: 0.25rem;
  }
  .hidden__menu .bottom_menu {
    height: max-content;
    flex-direction: column;
    gap: 0rem;
  }
  .bottom_menu h3 {
    font-size: 1.1rem !important;
    /* color: red; */
    position: relative;
  }
  .bottom_menu h3::after {
    font-size: 1.1rem !important;
    content: "+";
    position: absolute;
  }
  .rows {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 1rem !important;
    display: none;
    max-height: 30vh;
    max-width: 70vw;
    overflow: scroll;
  }
  div.rows span {
    width: 100%;
  }
}

@media (min-width: 322px) and (max-width: 800px) {
  .photographer__Name,
  .photo__style,
  .photo_menu_style {
    font-size: 1.6rem !important;
  }
  .cross {
    font-size: 2.2rem;
    padding: 0.4rem;
  }
  .hidden__menu .bottom_menu {
    height: max-content;
    flex-direction: column;
    gap: 0rem;
    margin-top: 5rem;
  }
  .bottom_menu h3 {
    font-size: 1.2rem !important;
    color: rgb(255, 255, 255);
    position: relative;
  }
  .bottom_menu h3::after {
    font-size: 1.1rem !important;

    content: "+";
    position: absolute;
  }
  .rows {
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 1rem !important;
    display: none;
    max-height: 30vh;
    width: 30vh;
    max-width: 70vw;
    overflow: scroll;
  }
  div.rows span {
    width: 100%;
  }
}

@media (min-width: 800px) {
  .photographer__Name,
  .photo__style,
  .photo_menu_style {
    font-size: 3rem !important;
  }
  .cross {
    font-size: 3rem;
    padding: 0.25rem;
  }
  .bottom_menu h3 {
    font-size: 1.4rem !important;
    /* color: red; */
    position: relative;
    text-align: center;
  }

  .rows {
    margin: 1rem;
    padding: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem !important;
    max-height: 80vh;
    height: max-content;

    max-width: 30vw;
    display: flex;
    justify-content: center;
    /* overflow: scroll; */
  }

  .rows span:hover {
    /* color: rgb(224, 226, 255) !important; */
    text-decoration: underline;
  }

  div.rows span {
    width: 100%;
  }
}
